<html>
    <head>
        <title>Yongqi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Yongqi's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Introduction</a></h2>
            <p> Hello, I am yongqi. Welcome to my blog! Read to learn more about me.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I am currently a Senior at Alameda Science Technology & Institute.</p>
        </div>
    </body>
</html>
